/* body {
    width: 1900px;
    min-height: 1000px;
} */

@font-face {
    font-family: "pt";
    src: url(uploads/fonts/PTS55F.ttf);
}

@font-face {
    font-family: "pt bold";
    src: url(uploads/fonts/PTN77F.ttf);
}

body {
    font-family: "pt";
}

 /* ------------------------------------------------------ HEADER ------------------------------------------------------ */

header {
    display: flex;
    height: 65px;
    background-color: #252d38;
    width: 99%;
    color: white;
    border-radius: 8px 8px 0px 0px;
    font-family: "pt";
    font-weight: 600;
    align-items: center;
    padding: 0px 10px 0px 10px;
    font-size: 0.9em;
}

#headerLeft, #headerSearch, #headerRight {
    height: 100%;
    display: flex;
    align-items: center;
}

#headerLeft {
    width: 35%;
    justify-content: space-evenly;

}

#headerLeft p {
    display: inline;
    height: 100%;
    text-transform: uppercase;
}

#headerSearch {
    width: 35%;
    justify-content: flex-end;
}

#headerSearch div {
    align-items: center;
    display: flex;

}

#searchIcon, #user {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 45px;
    height: 45px;
}

#searchIcon {
    background: #f2bb13;
    border: 1px black solid;
}  

#user {
    background-color: #dadada;
    color: white;
}

#headerSearch input {
    width: 300px;
    background-color: #454c55;
    padding: 13px;
}

#headerRight {
    width: 30%;
    justify-content: flex-end;
}

#headerRight img {
    height: 35px;
}

#headerRight div, #chevron {
    margin-left: 15px;
}


#headerRight p {
    display: inline-block;
}

.bubEvent{
    border-radius: 50%;
    border: 1px solid black;
    background-color: red;
    font-size: 0.9em;
    padding: 2px 7px 2px 7px;
}

.bubble {
    border-radius: 50%;
    border: 1px solid black;
    background-color: red;
    font-size: 0.9em;
    padding: 2px 7px 2px 7px;
    margin-left: -10px;
}

 /* ------------------------------------------------------ MAIN ------------------------------------------------------ */
/*HEADER*/

main { 
    background-color: #e7e9eb;
    height: 1200px;
}

#mainHeader {
    background-color: #242d38;
    height: 65px;
    border: 1px solid black;
}

#mainHeader div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
width: 35%;    
}

.noColor, .color{
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 550;
    font-family: "pt";
    margin-left: 25px;
}

#mainHeader .noColor {
    color: white;
}

.color {
    color: #f2bb13;
    border-bottom: 4px #f2bb13 solid;
    padding: 23px 20px 23px 20px;
}



/* TOP */

#allGames {
    width: 75%;
    /* min-height: 100%; */
    margin: auto;
}
main img {
    width: 100%;
    height: 90%;
}

#topGames{
    display: flex;
    justify-content: center;
    margin: auto;
    /* width: 100%;
    height: 100%; */
}

#yellowLine {
    background-color: #f2bb13;
    height: 6px;
    width: 100%;
}

#leftGame{
    background-color: #252e38;

    /* border: 1px solid black; */


}

#titlePuzzle {
    margin: 10px 0px 10px 15px;
    color: #f2ad2b;
}

#bottomPuzzle {
    background-color: #252e38;
    height: 12%;
}

#rightGame {
    background-color: #252e38;

    margin-left: 10px;
    border: 1px solid black;

}

#colorStar {
    color: #ffd200;
}

#noColor {
    color: white;
    /* color:  #5c572a; */
}

#colorStar, #noColor{
    margin-left: 3px;
}

#titlePuzzle {
    margin: 5px 0px 0px 15px;
    font-weight: 500;
    font-size: 0.9em;
}

#stars {
    margin-left: 15px;
    padding-bottom: 5px;
}

/* ------------------------------- EASY ------------------------------- */
#easy {
    width: 75%;
    margin: auto;
}

#puzzle {
    /* margin-left: 5px; */
}