/* body {
    width: 1900px;
    min-height: 1000px;
} */

@font-face {
    font-family: "pt";
    src: url(../uploads/fonts/PTS55F.ttf);
}

@font-face {
    font-family: "pt bold";
    src: url(../uploads/fonts/PTN77F.ttf);
}

body {
    font-family: "pt";
}

 /* ------------------------------------------------------ HEADER ------------------------------------------------------ */

header {
    display: flex;
    height: 65px;
    background-color: #252d38;
    width: 99%;
    color: white;
    border-radius: 8px 8px 0px 0px;
    font-family: "pt";
    font-weight: 600;
    align-items: center;
    padding: 0px 10px 0px 10px;
    font-size: 0.9em;
}

#headerLeft, #headerSearch, #headerRight {
    height: 100%;
    display: flex;
    align-items: center;
}

#headerLeft {
    width: 35%;
    justify-content: space-evenly;

}

#headerLeft p {
    display: inline;
    height: 100%;
    text-transform: uppercase;
}

#headerLeft a {
   text-decoration: none;
   color: white;
   text-transform: uppercase;
}

#headerLeft a:hover {
    color: #f2bb13;
}

#headerSearch {
    width: 35%;
    justify-content: flex-end;
}

#headerSearch div {
    align-items: center;
    display: flex;

}

#searchIcon, #user {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 45px;
    height: 45px;
}

#searchIcon {
    background: #f2bb13;
    border: 1px black solid;
}  

#user {
    background-color: #dadada;
    color: white;
}

#headerSearch input {
    width: 300px;
    background-color: #454c55;
    padding: 13px;
}

#headerRight {
    width: 30%;
    justify-content: flex-end;
}

#headerRight img {
    height: 35px;
}

#headerRight div, #chevron {
    margin-left: 15px;
    color: white;
}

.profil{
    text-decoration: unset;
    color: white;

}

.bubEvent{
    border-radius: 50%;
    border: 1px solid black;
    background-color: red;
    font-size: 0.9em;
    padding: 2px 7px 2px 7px;
}

.bubble {
    border-radius: 50%;
    border: 1px solid black;
    background-color: red;
    font-size: 0.9em;
    padding: 2px 7px 2px 7px;
    margin-left: -10px;
}


.logo:hover, .signal:hover, .ring:hover, .user:hover, .profil:hover {
    filter: brightness(80%);
}

 /* ------------------------------------------------------ MAIN ------------------------------------------------------ */
/*HEADER*/

main { 
    background-color: #e7e9eb;
    height: 1200px;
}

#mainHeader {
    background-color: #242d38;
    height: 65px;
    border: 1px solid black;
}

#mainHeader div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;    
}

.navPuzzleSponso, .navPuzzle{
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 550;
    font-family: "pt";
    color: white;

}

#mainHeader button {
    background-color: #242d38;
    border: unset;
    padding-left: 20px;
}

#mainHeader button:hover{
    cursor: grab;
    border-bottom: 4px #f2bb13 solid;
    padding: 23px 10px 23px 10px;


}


.navPuzzle:hover, .navPuzzle::selection, .navPuzzleSponso:hover, .navPuzzleSponso::selection {
    color: #f2bb13;
    border-bottom: 4px #f2bb13 solid;
    /* padding: 23px 0px 23px 0px; */
}






/* TOP */

#allGames {
    width: 65%;
    /* min-height: 100%; */
    margin: auto;
}
#gameImg {
    width: 100%;
    max-height: 325px;
    /* object-fit: contain; */
    /* position: relative; */
}

#topGames{
    display: flex;
    /* width: 100%;
    height: 100%; */
}

#addingTxt {
    margin-bottom: -15px;

}

#yellowLine {
    height: 6px;
    width: 100%;
    position: relative;
}

#yellow {
    display: inline;
    float: left;
    width: 90%;
    height: 100%;

    background-color: #f2bb13;
}

#grey {
    display: inline;
    width: 10%;
    height: 100%;
    float: right;
    background-color: #454c55;
}

#leftGame, #rightGame{
    background-color: #252e38;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */


}

#titlePuzzle {
    margin: 10px 0px 10px 15px;
    color: #f2ad2b;
}

#bottomPuzzle {
    background-color: #252e38;
    height: 30%;
    padding-bottom: 10px;
}

#rightGame {
    margin-left: 10px;
}

#colorStar {
    color: white;
}

#noColor {
    /* color: white; */
    /* color:  #5c572a; */
}

#colorStar, #noColor{
    margin-left: 3px;
}

#titlePuzzle {
    margin: 25px 0px 0px 15px;
    font-weight: 500;
    font-size: 0.9em;
}

#stars {
    margin-left: 15px;
    padding-bottom: 15px;
}



#txtImg {
    display: none;
    position: absolute;
    z-index: 1;
    align-items: end;
    padding-left: 20px;

}

.hoverTitle {
    color: white;
    font-weight: bold;
    margin: unset;
    font-size: 1.1em;
    text-transform: capitalize;
}

.divXp {
    padding: 10px 0px 10px 0px;

}

#xpImg {
    width: 20px;
    padding-right: 5px;
    vertical-align :bottom;

}

.xp {
    display: inline;
    font-weight: bold;
    color: #f2ad2b;
    font-size: 0.8em;

}

.nbUsers {
    display: inline;
    color: white;
    font-size: 0.9em;

}

.userHover{
    color: white;
    padding-right: 10px;

}

#gameImg:hover {
    filter: brightness(20%);
}

/* ------------------------------- EASY ------------------------------- */
#easy {
    width: 65%;
    margin: auto;
}

#puzzle {
    /* margin-left: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#categoryTitle{
    font-size: 1em;
    text-transform:uppercase;
    color: #454c94;
    margin-top: 40px;
}

#categorySubtitle{
    display: inline-block;

    color: #454c94;
    margin-top: 5px;
    /* float: left; */
}

#percent {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    color: #454c94;
    font-weight: bold;
    text-align: end;
/* float: right; */
}

#gameImgMini {
width: 275px;
}